langchain==0.3.25
langchain-community==0.3.23
langchain-huggingface==0.1.2
langchain-chroma==0.1.4
langchain-core==0.3.86
chromadb==0.5.23
transformers==4.41.2
tokenizers==0.19.1
pdfplumber==0.11.4
pypdf==5.4.0
pymupdf==1.25.5
fastapi==0.115.12
uvicorn==0.34.2
streamlit==1.45.1
sentence-transformers==3.4.1
python-dotenv==1.1.0
huggingface-hub==0.30.2
torch
pillow==11.2.1
pytesseract==0.3.13
unstructured==0.17.2
python-docx==1.1.2
openpyxl==3.1.5
langchain-openai==0.3.35
